{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "assets": "./src/assets",
          "components": "./src/components",
          "hooks": "./src/hooks",
          "navigation": "./src/navigation",
          "redux-manager": "./src/redux-manager",
          "mobx": "./src/mobx",
          "screens": "./src/screens",
          "utils": "./src/utils",
          "util": "./src/util",
          "helpers": "./src/utils/helpers",
          "services": "./src/utils/services",
          "themes": "./src/utils/themes"
        }
      }
    ]
  ]
}